$dark-purple: #4D02FF;
$light-purple: #F5F1FF;
$white: #FFFFFF;
$black: #000000;

$primary-blue: #0000FF;
$primary-red: #FF0000;
$primary-yellow: #FFFF00;
$secondary-orange: #FF6600;
$secondary-green: #00FF00;
$green: #00aa00;
$pink: #D90368;

$logo-font: 'Fredoka One', cursive;