@use 'sass-utils/variables' as v;
@use 'sass-utils/mixins' as m;

.create-multi-quiz {
    @include m.view;
    font-family: v.$content-font;
    display: flex;
    flex-direction: column;;
    align-items: center;
}