@use 'sass-utils/variables' as v;
@use 'sass-utils/mixins' as m;

// Layout
.navbar,
.navigation,
.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    height: 100px;
    background: rgba(76, 0, 255, 0.103);
    width: 100%;

    .navlink-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 20px 0px;
    }

    .settings {
        width: 15%;
        font-size: 2em;
        justify-content: space-around;
        color: v.$dark-purple;
    }
    
    .logo {
        margin: 10px;
        height: 80px;
    }
}
