@use 'sass-utils/variables' as v;
@use 'sass-utils/mixins' as m;

.create-new-quiz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-quiz-header {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.hidden {
    display: none;
}

.quiz-form-header-field {
    margin: 10px 15px 10px;
    background-color: v.$dark-purple;
    color: white;
    border-radius: 20px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-weight: 700;
    font-size: 18px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}

.quiz-form-header-input {
    display: flex;
    border: none;
    border-radius: 15px;
    padding: 10px;
    background-color: v.$light-purple;
    color: v.$dark-purple;
    margin-top: 10px;
    font-size: 1.5em;
    width: 100%;

}

.quiz-form-title-field {
    background-color: v.$dark-purple;
    border-radius: 25px;
    padding: 10px 100px 10px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    margin-top: 20px;
}

.quiz-form-title-input {
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    background-color: v.$light-purple;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    color: v.$dark-purple;
}

::placeholder {
    color: v.$dark-purple;
    opacity: 0.55;
}