@use 'sass-utils/variables' as v;
@use 'sass-utils/mixins' as m;

.quiz-question-container {
	padding: 0px 50px 50px;
	background-color: #6b2cff;
	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	border-radius: 40px;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 90vw;
	height: 500px;

	.question-id-header {
		color: white;
		font-size: 35px;
		margin: 20px 0px 17px;
		background-color: #3000a0;
		padding: 15px 40px 15px;
		border-radius: 20px;
	}

	.btn {
		background-image: none;
		background-color: #3000a0;
		font-size: 35px;
		border: 2px solid rgba(255, 255, 255, 0);
	}

	.next.btn:hover {
		border: 2px solid white;
		transform: translate(10px);
	}

	.prev.btn:hover {
		border: 2px solid white;
		transform: translate(-10px);
	}

	.close-btn {
    border: none;
    color: v.$secondary-orange;
    font-size: 1em;
		background: none;
		height: 4vw;
		width: 4vw;
		cursor: pointer;
		transition: ease 0.3s;
	}

	.close-btn:hover {
		transform: scale(1.03);
	}

	.question-header {
		text-align: center;
		margin: 20px 0px 40px;
		font-size: 40px;
	}

	.quiz-question {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;


		.quiz-question-description {
			width: 90%;
			height: auto;
      word-wrap: break-word;
			margin: 0px 0px 40px;
			border-radius: 15px;
			background-color: v.$light-purple;
			color: v.$dark-purple;
			padding: 30px;
		}

		.answers-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: 1fr;
			grid-gap: 40px;
			color: rgb(0, 0, 0);
			width: 90%;
			justify-content: center;
			align-items: center;

			.answer {
				@include m.flex-center;
				border-radius: 15px;
				color: v.$dark-purple;
				background-color: v.$light-purple;
				overflow: hidden;
				cursor: pointer;
				transition: ease 0.3s;
				border: 8px solid #6b2cff;
				height: auto;
      	word-wrap: normal;

				.answer-label {
					color: v.$light-purple;
					height: 100%;
					width: 20%;
					padding: 10px;
					font-size: 55px;
					background-color: #3000a0;
					overflow: hidden;
					@include m.flex-center;
				}

				p {
					width: 80%;
					height: 100%;
					padding: 10px;
					font-size: 16px;
				}
			}
			.answer:hover {
				transform: scale(1.03);
			}

			.active {
				border: 8px solid rgb(249, 128, 0);
				filter: brightness(120%);
			}

			.green {
				border-color: rgb(0, 255, 0);
			}

			.red {
				border-color: red;
			}
		}
	}
}