@use 'sass-utils/variables' as v;
@use 'sass-utils/mixins' as m;

.quiz-list {
	width: 80%;

	h1 {
		margin: 10px 0px 10px;
		font-size: 25px;
		color: v.$dark-purple;
	}

	.quiz-list-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}

	.quiz-list-grid {
		display: grid;
		justify-content: center;
		align-items: center;
		grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
		grid-gap: 40px;
		margin: 30px 0px 30px;
	}

	.active {
		background-image: radial-gradient(100% 100% at 100% 0, v.$dark-purple 0, #5b15ff 100%);
	}

	.inactive {
		background-image: none;
		background-color: #A37CFF;

	}
}