@use 'sass-utils/variables' as v;
@use 'sass-utils/mixins' as m;

.create-quiz {
    min-height: 50%;
    width: 90%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: v.$light-purple;
    padding-left: 5%;
    padding-right: 5%;
}

.quiz-form-question {
    @include m.flex-center;
    height: 25%;
    margin: 0 5%;
}

.quiz-form-question-number {
    color: v.$dark-purple;
    font-size: 3em;
    margin-right: 3%;
}

.quiz-form-question-label {
    @include m.flex-center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 15%;
    height: 100%;
    background-color: v.$dark-purple;
    color: v.$white;
    font-weight: 700;
}

.quiz-form-question-input {
    border: none;
    width: 75%;
    height: 100%;
}

.quiz-form-answer-row {
    margin-bottom: 5px;
    height: 25%;
    display: flex;
    justify-content: center;
}

.form-answer {
    display: flex;
    width: 50%;
}

.quiz-form-answer-label {
    @include m.flex-center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 20%;
    height: 100%;
    color: v.$white;
    font-weight: 700;
}

.quiz-form-answer-input {
    border: none;
    width: 75%;
    height: 100%;
}

.correct-label {
    background-color: v.$green;
}

.incorrect-label {
    background-color: v.$primary-red;
}

.save-question-btn {
    border: none;
    background-color: v.$secondary-orange;
    padding: 1.5%;
    color: v.$white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.save-question-btn:disabled {
    background-color: gray;
    color: v.$black;
    cursor: default;
}

.info-btn-container {
    width: 100%;
    display: flex;
    justify-content: baseline;
}

.info-btn {
    @include m.flex-center;
    border: none;
    color: v.$secondary-orange;
    font-size: 1em;
}

.info-modal {
    @include m.flex-center;
    height: 100vh;
    width: 100vw;
}

.close-modal {
    @include m.flex-center;
    padding: 0%;
    width: 5vh;
    height: 5vh;
    font-size: 2em;
    border: none;
    color: v.$secondary-orange;
}

.info-modal-content {
    border: 5px solid v.$dark-purple;
    border-radius: 15px;
    background-color: v.$light-purple;
    color: v.$dark-purple;
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 50vh;
    font-size: 2em;
    text-align: center;
}

.show-0 {
    border: 2px dashed red;
}

.hide {
    display: none;
}

.show {
    color: v.$primary-red;
}