@use 'sass-utils/variables' as v;
@use 'sass-utils/mixins' as m;

.quiz-title {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    background-color: v.$light-purple;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	border-radius: 20px;
    overflow: hidden;
}

.details {
    padding: 10px;
    color: v.$dark-purple;
}

.title {
	background-image: radial-gradient(100% 100% at 100% 0, v.$dark-purple 0, #5b15ff 100%);
    color: white;
    width: 100%;
    padding: 15px;
    font-size: 18px;
}

.quiz-link {
    transition: 0.3s ease;
}

.quiz-link:hover {
    transform: translateY(-7px) scale(1.03);
}
